#jeu {
  width: 100%;
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: center;
  min-height: 240px;
  margin: 20px;
}

h4 {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

#mainJ,
#mainB {
  font-size: 1.5rem;
}

.joueur {
  border: 2px solid black;
  border-radius: 20px;
  padding: 13px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.64);
  transition: 0.5s;
}

.joueur:hover {
  transform: translateY(-2px);
  transition: 0.5s;
}

.rouge {
  color: red;
}

button {
  font-size: 1.2rem;
  padding: 5px;
  width: 110px;
  margin-right: 10px;
  margin-left: 30px;
}

#scoreF {
  font-size: 1.3rem;
}
